* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gboo-primary-light: #f6f5f3;
    --gboo-primary-lighter: #ffffff;
    --gboo-secondary-darker: #b7b5b3;
    --gboo-primary-accent: #ff9614;
    --gboo-primary-dark: #7c69a4;
    --gboo-primary-darker: #4e3969;

}



/*utilities? general aspect*/

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    padding: 1rem;
}

a {
    color: var(--gboo-primary-light);
}

header {
    background-color: var(--gboo-primary-light);
    color: var(--gboo-primary-accent);
}

main {
    background-color: var(--gboo-primary-light);
}

.social-btn {
    padding: 1rem;
    background-color: var(--gboo-primary-light);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.266);
    border-radius: 50%;
}

hr {
    color: var(--gboo-primary-accent);
    padding: 2rem;
    margin: auto;
}

footer {
    background-color: var(--gboo-primary-dark);
    color: var(--gboo-primary-lighter);
}

.category {
    color: var(--gboo-secondary-darker);
}

.recipe-name {
    color: var(--gboo-primary-darker);
}

.container {
    width: 100%;
    margin: auto;
    padding: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    background-color: var(--gboo-primary-lighter);
    box-shadow: 5px 5px rgba(185, 178, 178, 0.46);
}

.container-2 {
    padding: 1rem;
    margin: auto;
}

/*smartphone view*/
@media screen and (max-width: 480px) {


    .container {
        width: 80%;
        margin: auto;
    }



    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .column {
        width: 50%;
        text-align: center;
    }

    hr {
        color: var(--gboo-primary-accent);

    }


    .main-content {
        text-align: center;

    }

    span {
        display: none;
    }

    .banner {
        display: none;
    }

    .container-footer>.row {
        flex-direction: column;
        align-items: center;
    }
}

/*tablet*/

@media screen and (max-width: 576px) {

    li {
        display: inline;

    }

    .container-2 {
        display: flex;
        justify-content: space-between;

    }

    .social-btn>span {
        display: none;
    }

    .social-btn {}





}