* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dotted;
}

:root {
    --gboo-primary-light: #f6f5f3;
    --gboo-primary-lighter: #ffffff;
    --gboo-secondary-darker: #b7b5b3;
    --gboo-primary-accent: #ff9614;
    --gboo-primary-dark: #7c69a4;
    --gboo-primary-darker: #4e3969;

}



/*utilities? general aspect*/

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

header {
    background-color: var(--gboo-primary-light);
    color: var(--gboo-primary-accent);
}

main {
    background-color: var(--gboo-primary-lighter);
}

footer {
    background-color: var(--gboo-primary-dark);
    color: var(--gboo-primary-lighter);
}

.category {
    color: var(--gboo-secondary-darker);
}

.recipe-name {
    color: var(--gboo-primary-darker);
}

.container {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

/*smartphone view*/
@media screen and (max-width: 480px) {


    .container {
        width: 100%;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .columns {
        width: 50%;
    }


    .main-content {
        text-align: center;

    }

    span {
        display: none;
    }

}